{{page-title "Welcome"}}

<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to Upvote!</h2>
  <p>
    Upvote is the next-generation hosting control panel that allows for easy management, monitoring, and deployment of your servers onto containers.
  </p>
</div>

{{outlet}}